<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this tag, the sky will fall on your head -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>digbuzzi</title>
	
<link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/trafficnow/css/email.css" />

</head>
 
<body bgcolor="#FFFFFF">
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
                <table>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td align="center">
						                  <p><img width="100px" src="https://s3-us-west-2.amazonaws.com/trafficnow/logo/logo.png" /></p>
                                    </td>
                                </tr>
                            </table>
                                                 
                            <h4>__USER__</h4>
                            <p class="lead">
                                The moment we recieved your request for password reset, we became so anxious that you were feeling lost. Here is your new password - 
                            </p>
                            
                            <table>
                                <tr>
                                    <td align="center">
                                        <a class="btn">__PASSWORD__</a>
                                    </td>
                                </tr>
                            </table>
                            
                            <p class="lead">
                                If you didn’t make the request please let us know replying this email. We would to hear from you.
                            </p>			
                        
                        </td>
                    </tr>
                </table>
			</div>
									
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>