<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TrafficNow.Repository.Implementation.Properties.SettingsData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TrafficNow.Repository.Implementation.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TrafficNow.Repository.Implementation.Settings1.ConnectionString"
            connectionString="mongodb://appharbor_vk9qtsdd:ib05vke48q2s177d3hscja3ddn@ds139879.mlab.com:39879/appharbor_vk9qtsdd" />
      <!--<add name="TrafficNow.Repository.Implementation.Settings1.ConnectionString"
            connectionString="mongodb://gravitybd:gravitybdtech14@ds035693.mongolab.com:35693/trafficnowdb" />-->
        <add name="TrafficNow.Repository.Implementation.Properties.SettingsData.ConnectionString"
            connectionString="mongodb://localhost:27017" />
    </connectionStrings>
    <applicationSettings>
        <TrafficNow.Repository.Implementation.Properties.SettingsData>
            <setting name="Database" serializeAs="String">
                <value>trafficnowdb</value>
            </setting>
        </TrafficNow.Repository.Implementation.Properties.SettingsData>
        <TrafficNow.Repository.Implementation.Settings1>
            <setting name="Database" serializeAs="String">
                <value>trafficnowdb</value>
            </setting>
        </TrafficNow.Repository.Implementation.Settings1>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>